<div class="list-container"  md-whiteframe="3">

  <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h1>Colors Hebrew Vocabulary</h1>
      </div>
  </md-toolbar>

    <md-subheader class="md-primary">
      Do you know the names of  the Colors in Hebrew? Put your knowledge to the test, then check your answer by clicking on each color.
    </md-subheader>

  <div class="colorsList" ng-cloak layout-xl="row" layout-align-xl="center center"
        layout-lg="row" layout-align-lg="center center"
        layout-md="row" layout-align-md="center center"
        layout-sm="column" layout-align-sm="center center"
        layout-xs="column" layout-align-xs="center start" layout-margin>

      <i id="back-button" class="material-icons animated " ng-click="$ctrl.back()"
        ng-class="$ctrl.page === 1 ? 'm-fadeOut': 'flipInX' ">
        keyboard_arrow_left
      </i>

      <div class="item-wrapper" layout="row" layout-align="center center" layout-margin
      layout-xs="column">
        <list-item ng-repeat="color in $ctrl.colors track by $index" color="color"
          ng-show="(($index < ($ctrl.page * $ctrl.numRecords)) && ($index >= (($ctrl.page - 1) * $ctrl.numRecords)))">
        </list-item>
      </div>

      <i id="next-button" class="material-icons animated" ng-click="$ctrl.next()"
        ng-class="$ctrl.page === 3 ? 'm-fadeOut': 'flipInX' ">
        keyboard_arrow_right
      </i>

      <md-button id="practice-button" type="button" name="practice" class="md-raised md-primary animated infinite pulse"
        ng-show="($ctrl.page===3)" ui-sref="practice">
        Practice
      </md-button>

  </div>
</div>
